name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  flatpak:
    name: "Flatpak"
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:kde-6.9
      options: --privileged
    strategy:
      matrix:
        variant:
          - arch: x86_64
            runner: ubuntu-24.04
          - arch: aarch64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.variant.runner }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive     # fetch submodules (recursively)
          fetch-depth: 0           # ensure full history so submodule refs are resolvable
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          bundle: photobooth.flatpak
          manifest-path: io.github.saeugetier.photobooth.json
          cache-key: flatpak-builder-${{ github.sha }}
          arch: ${{ matrix.variant.arch }}
          verbose: true